<section class="slider_section ">
    <div class="slider_bg_box">

        <img src="~/Content/Hinh/12.png" />
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 ">
                            <div class="detail-box">
                                <h1>
                                    Giày  <br>

                                </h1>
                                <p>

                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Mua Ngay
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 ">
                            <div class="detail-box">
                                <h1>
                                    Tại sao cần mua giày ?

                                </h1>
                                <p>
                                    Sở hữu một đôi giày Converse chính hãng sẽ cho bạn vẻ ngoài thật trẻ trung, năng động và đậm chất cá tính. Bạn có thể tự tin diện giày xuống phố và thu hút sự chú ý giữa đám đông. Bản chất giày Converse rất dễ để phối quần áo nên bạn chỉ cần áp dụng một số lưu ý cơ bản là đã có thể mix-match đa phong cách với giày rồi.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Get A Quote
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 ">
                            <div class="detail-box">
                                <h1>
                                   Rẻ
                                </h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum magnam, voluptates distinctio, officia architecto tenetur debitis hic aspernatur libero commodi atque fugit adipisci, blanditiis quidem dolorum odit voluptas? Voluptate, eveniet?
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Get A Quote
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
    </div>

</section>
